@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
* {
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	height:100vh;
}
h3{
	display: none;
}


#logo{
	float: left;
	width: 100px;
	height: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 90px;
	padding-right: 12px;
}
#title{
	color: rgb(39, 36, 61);
	font-size: 50px;
	padding-top: 15px;
	font-family: 'Notable', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;


}
#payoff{
	float: left;
	padding-bottom: 0px;
}


#payofftext{
	color: #000000;
	font-size: 18px;
}


#header{
	background: #ffffff ;
	width: 100%;
	height: fit-content;
}


nav ul{
	list-style-type: none;
	border: 0;
	overflow: hidden;
	background-color: #333;
	clear: both;
}
nav ul li{
	float: left;
}
nav ul li a{
	display: block;
	color :#ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav li a:hover{
	background-color: #D40E14;
}
nav li a:visited {
  color: #0000ff;
}


nav ul li:first-child{
	border-left: 1px solid #fff;
}
ul li a {
  color: blue;
  font-family: Arial;
}

#advertisementvideo{
	height: 600px;
	display: block;
	margin: 0 auto;
}
#video{
	height: 600px;
	justify-content: center;
	padding-bottom: 20px;
}

.flexParent{
	display: flex;
	flex-wrap: wrap;
	width: 800px;
}
#asideIndex{
	position: fixed;
	right: 0px;
	top: 14rem;
	z-index: 9998;
	margin-right: 10px;
	background-color: #cbcbcb;
	border-radius: 2px;
	padding: 10px;
}
#asideIndex h2{
	font-size: 16px;
	flex-shrink: 0;

}

#asideIndex ol{
	text-align: center;
	font-size: 15px;
}

.I_article{
flex-grow: 1;
padding-top: 20px;

}
.art1{
		
	text-align: justify;
	margin-left: 20px;

}
#moreinfo1, #moreinfo2, #moreinfo3{
	text-align: justify;
	margin-left: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;

}

#websiteinfo1, #websiteinfo2,  #websiteinfo3{
	text-align: justify;
	margin-left: 20px;
}


.titleSporttechnologies1{
	text-indent: 10%;
	text-align: center;
}
.titleSporttechnologies2{
	text-indent: 10%;
	text-align: center;
}
.titleSporttechnologies3{
	text-indent: 10%;
	text-align: center;
}
.art2{
	text-align: justify;
	margin-left: 20px;
}

.art3{
	text-align: justify;
	margin-left: 20px;
	}

#image1, #image2, #image3{
	width: 110px;
	height: 110px;
	float: right;
}
.II_article{
	flex-grow: 1;
	padding-top: 30px;
	padding-bottom: 20px;

}
.figure1{
	width: 110px;
	height: 110px;
	float: right;
}

#image1{
	padding-top: 20px;
	padding-left: 350px;
}

.figure2{
	width: 110px;
	height: 110px;
	float: right;
	padding-bottom: 25px;
}
#image2{
	padding-top: 20px;
	padding-left: 350px;

}

.III_article{
	flex-grow: 1;
	padding-bottom: 40px;
}
.figure3{
	width: 110px;
	height: 110px;
	float: right;
}
#image3{
	padding-top: 20px;
	padding-left: 350px;
}



.indexCookies{
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #FA0;
	color: #FFF;
	opacity: 50%;
	width: 33%;
	height: 50px;
	z-index: 9999;
	text-align:center;
}
#indexfooter{
	background-color: #000000;
	color: #ffffff;
	clear: both;
	text-align: left;
	margin-top: 20px;

}


.nav li {
  list-style-type: none;
  font-size: 2rem;
}

.nav a {
  color: #FFF;
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 2px;
 
}
nav ul li:active{
	background-color: #b68c18;
}
.sidebar-menu{
	display: none;
}
#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      #3D0E61, #3D0E61 20%, 
      white 20%, white 40%, 
      #3D0E61 40%, #3D0E61 60%, 
      white 60%, white 80%, 
      #3D0E61 80%, #3D0E61 100%
    );
}

#hamburger-menu .sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #3D0E61;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #B9FAF8;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #ff0053;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu .sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}




  @media screen and (max-width: 480px) {
  #advertisementvideo{
  	display: none;
  }
  .nav{
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
  #title{
  	margin-left: 80px;
  }
  #asideIndex{
  	margin: 0;
  	position: static;
  	width: 100%;
  	padding: 0;
  	padding-top: 15px;
  	padding-bottom: 15px;
  }
}








/*PricingPage*/
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
#sportfantasyheader{
	color: #1a66c4;
}
.applewatchtable{
	margin-left: 20px;
	width: 400px;



	
}
.applewatchtable, th, td{
	border: 1px solid #000;
	border-collapse: collapse;

	
}
th td{
	padding: 10px;
}
th{
	background-color: #ff0000;
}
th:first-child{
	background-color: #FF0;
}
td:first-child{
	background-color: #FF0;
}

tr:nth-child(even){
	background-color: #FFF;
}
tr:nth-child(odd){
	background-color: #0202fe;
}
th::first-letter{
	color: #ed06ed;
	font-size: 1em;
}
.applewatchtable>tr{
	color: #ed06ed;
}
.applewatchimages>img{
	width: 100%;
}




.applewatchimages{
		width: 20px;
  	height: 10px;
  	margin-left: auto;
  	margin-bottom: auto;
}
.applewatch1,.applewatch2,.applewatch3{
	height: 200px;
	width: 200px;
	float: right;
	border:5px;
	margin-top: 6px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.priceCookies{
		position: fixed;
	bottom: 0;
	right: 0;
	background-color: #FA0;
	color: #FFF;
	opacity: 50%;
	width: 33%;
	height: 50px;
	z-index: 9999;
	text-align:center;

}
#pricingfooter{
	background-color: #000000;
	color: #ffffff;
	clear: both;
	text-align: left;
	margin-top: 20px;
}
.applewatch2{

	text-indent: 10%;
}
#sportfantasyarticle{
	padding-bottom: 20px;
	text-align: justify;
	text-align: left;
	margin-left: 20px;
}
#sportfantasyheader{
	padding-top: 20px;
	margin-left: 20px;
	color: #1a66c4;
}
#thisfooter{
	text-indent:1%;
	margin-top:20px ;

}
th+th{
	font-size: 1em;
	color: #ffff;
}



#sportfantasyarticle::first-letter{
	font-size: 1.5em;
}

#sportfantasyarticle{
	text-indent: 5px;
	color: #008000;
}
@media screen and (min-width: 481px) and (max-width: 1279px ){
	.applewatchimages{
		box-sizing: border-box;
		float: left;
		padding: 30px;
		width: 700px;
		height: 500px;
	}
	.applewatch3{
		display: none;
	}
}
@media screen and (max-width: 480px ){
	.applewatchimages{
		float: left;
		width: 200px;
		height: 700px;
		margin-left: 20px;
	}
	.applewatchtable{
		margin-left: 5px;
	}
	.applewatch1,.applewatch2,.applewatch3{
		margin-left: 60px;
	}
}

/* ProductPage */

header h2{
	color: #FF00FF;
	letter-spacing: 2px;
}
#article1,#article2,#article{
	color: #FFC72B;
}
.nav li {
  list-style-type: none;
  font-size: 2rem;
}

.nav a {
  color: #FFF;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}
.sidebar-menu{
	display: none;
}
#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      #3D0E61, #3D0E61 20%, 
      white 20%, white 40%, 
      #3D0E61 40%, #3D0E61 60%, 
      white 60%, white 80%, 
      #3D0E61 80%, #3D0E61 100%
    );
}

#hamburger-menu .sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #3D0E61;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #B9FAF8;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #ff0053;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu .sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}


@media screen and (max-width: 480px) {
  .nav{
  display: none;
  }
  #hamburger-menu {
    display: inline;

  }
  #title{
  	margin-left: 80px;
  }
 

}

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

#grid-container{
    margin: 0;
    display: grid;
    grid-template-columns: 40% 35% auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;

    /*  #column1                     #column2                     #column3                  */
    grid-template-areas:
        'headerTag                                headerTag                    headerTag  '
        'article2Tag                             article1Tag                 article3Tag  '
        'article2Tag                             article1Tag                 article3Tag  '
        'article5Tag                             article1Tag                 article3Tag  '
        'article5Tag                             article1Tag                 article4Tag  '
        'article5Tag                             article1Tag                 article4Tag  '
        'article5Tag                             article1Tag                 article4Tag  '
        'article5Tag                             article6Tag                 article6Tag  '
        'aside1Tag   							 								aside2Tag    				          aside3Tag '
        'aside1Tag    							              aside2Tag   				         aside3Tag  '
        'footerTag  							                 footerTag                   footerTag  ';
}

#header{
    background: #ffffff;
    grid-area: headerTag  ;
}

#article1{
    grid-area: article1Tag;
}

#article2{
    grid-area: article2Tag;
}

#article3{
    grid-area: article3Tag;
}

#article4{
    grid-area: article4Tag;

}

#article5{
    grid-area: article5Tag;
}

#article6{

    grid-area: article6Tag;
}

#aside1{
    grid-area: aside1Tag  ;
}

#aside2{
    grid-area: aside2Tag  ;
}

#aside3{
    grid-area: aside3Tag  ;
}

#productfooter{
    background: #000000;
    height: 20px;
    grid-area: footerTag  ;
    color: #ffffff;
}

#logo{
  	float: left;
	width: 100px;
	height: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 90px;
	padding-right: 12px;
}

#title{
    color: #D40E14;
	font-size: 50px;
	padding-top: 15px;
	font-family: 'Notable', sans-serif;
}

.pic1,.pic2,.pic3{
    width: 50%;
    height: auto;
}
.pic2{
	height: 130px;
}
#payofftext{
	color: #000000;
	font-size: 18px;
}
.productCookies{
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #FA0;
	color: #FFF;
	opacity: 50%;
	width: 33%;
	height: 50px;
	z-index: 9999;
	text-align:center;
}



@media screen and (min-width: 481px) and (max-width: 1279px ) {
    #grid-container{
        margin: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    
        /*  #column1         #column2  */
        grid-template-areas:
            'headerTag      headerTag  '
            'article1Tag  article2Tag  '
            'article1Tag  article2Tag  '
            'article3Tag  article2Tag  '
            'article3Tag  article5Tag  '
            'article3Tag  article5Tag  '
            'article3Tag  article5Tag  '
            'article6Tag  article6Tag  '
            'article6Tag  article6Tag  '
            'aside1Tag      aside2Tag  '
            'aside1Tag      aside2Tag  '
            'footerTag      footerTag  ';
    }
    
}

@media screen and (max-width: 480px ) {
    #grid-container{
        margin: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    
        /*  #column1      #column2     */
        grid-template-areas:
            'headerTag     headerTag   '
            'article1Tag  article2Tag  '
            'article1Tag  article2Tag  '
            'article3Tag  article2Tag  '
            'article3Tag  article5Tag  '
            'article3Tag  article5Tag  '
            'article3Tag  article5Tag  '
            'article6Tag  article6Tag  '
            'article6Tag  article6Tag  '
            'aside1Tag    aside2Tag    '
            'aside1Tag    aside2Tag    '
            'footerTag    footerTag    ';

    }
  

}

/* ContactPage */
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');


#article-contact h2{
	text-align: center;
}
 #subject{
	text-align: center;
}
.nav li {
  list-style-type: none;
  font-size: 2rem;
}

.nav a {
  color: #FFF;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}
.sidebar-menu{
	display: none;
}
#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      #3D0E61, #3D0E61 20%, 
      white 20%, white 40%, 
      #3D0E61 40%, #3D0E61 60%, 
      white 60%, white 80%, 
      #3D0E61 80%, #3D0E61 100%
    );
}

#hamburger-menu .sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #3D0E61;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #B9FAF8;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #ff0053;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu .sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}

@media screen and (max-width:480px) {
  .nav {
    visibility: hidden;
    display: block;
  }
  #hamburger-menu {
    display: inline;
  }
  #title{
  	margin-left: 80px;
  }
 

}
  .asidecontact{
  	width: 20px;
  	height: 10px;
  	margin-left: auto;
  	margin-bottom: auto;
  }

  .contactpics1,.contactpics2,.contactpics3{
 	height: 200px;
	width: 200px;
	float: right;
	border:5px;
	margin-top: 6px;
	margin-right: 10px;
	margin-bottom: 10px;
  }
.contactCookies{
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #FA0;
	color: #FFF;
	opacity: 50%;
	width: 33%;
	height: 50px;
	z-index: 9999;
	text-align:center;
}
#footerContact{
	background-color: #000000;
	color: #ffffff;
	clear: both;
	text-align: left;
	margin-top: 20px;
}


	form {
  width: 600px;
  margin: 0 auto;
   background-color: #F40051;
  padding: 20px;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  border-style: double solid;
  border-width: 20px;
  border-color: #000;

}

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #45a049;
}




.asidecontact>img{
	width: 100%;
}



#contactheader{
margin-top: 20px;
font-family: 'Notable', sans-serif;
font-size: 2em;

}
